.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #c7a2ae;
  border: 1px solid #c7a2ae;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 20px;
}

.form button:hover,
.form button:active {
  background-color: #c7a2ae;
  border-color: #c7a2ae;
}
